*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;

}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 12%;
    background: #000000de;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center; 
    z-index: 100;
}
.logo {
    font-size: 25px;
    color:aliceblue;
    font-weight: 600;
    transition: 0.3s ease;

}
.logo:hover{
    color:orangered;
    text-shadow: 0 0 25px orangered,
                 0 0 50px orangered;
    transform: scale(1.1);

}
span{
    color: orangered;
}
.navbar a{
    font-size: 18px;
    color:aliceblue;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;


}
.navbar a:hover,
.navbar a.active{
    color: orangered;
    border-bottom: 3px solid orangered;
}
.contact{
    padding: 10px 20px;
    background-color: aliceblue;
    color: black;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;


}
.contact:hover{
    background-color: orangered;
    box-shadow: 0  0 25px orangered;
    color: aliceblue;
}

.Hobi{
    width: 100%;
    min-height: 100vh;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;


}
.Hobi-content{
    max-width: 800px;


}
.Hobi-content h2{
    font-size: 42px;

}
.Hobi-content h3{
    font-size: 62px;
    line-height: 1.2;
    color: blue;

}
.Hobi-content p{
    font-size: 18px;
    margin: 25px 0 30px;

}
.Hobi-content h3 span{
    color:blue
}
.img-hobi img{
    position: relative;
    width: 300px;
   
   
}

    